/* ====
 * fonts.scss
 *
 * ------------------------------------------------------------------- */
 @font-face {
    font-family: "sen-regular";
    src: url("sen-regular.ttf") format("woff2");
    font-style: normal;
    font-weight: normal;
  }
  
@font-face {
     font-family: 'iconos';
     src: url('iconos.eot?73991201');
     src: url('iconos.eot?73991201#iefix') format('embedded-opentype'),
          url('iconos.woff2?73991201') format('woff2'),
          url('iconos.woff?73991201') format('woff'),
          url('iconos.ttf?73991201') format('truetype'),
          url('iconos.svg?73991201#iconos') format('svg');
     font-weight: normal;
     font-style: normal;
   }
